h1#shite {
    transition: scale 1s ease;
    position: fixed;
    left: 50%;
    top: 50%;
    scale: 1.5;
    margin: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

}

h1#shite:hover {
    scale: 3;
}