body {
    font-family: sans-serif;
    margin: 0;
    background: #840;
}

div#nav {
    height: 48px;
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

div.nav-button {
    color: white;
    height: 100%;
    padding: 1rem;
}