body {
    font-family: sans-serif;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    * {
        color-scheme: dark;
    }
}

iframe#nav-object {
    width: 100svw;
    height: 48px;
    background: #840;
    content-visibility: hidden;
}

iframe#nav-object.loaded {
    display: block;
}